<div class="headerpart_2">
   <h1>My Badges</h1>
</div>
<!-- Page section -->
<div class="Page_Section">
   <div class="container-fluid">
      <div class="row">
         <div class="col-sm-3 Image_Section">
            <img src="../../assets/IASSC_ADP_Seal_378x378-300x300.png">
         </div>
         <div class="col-sm-3 Image_Section">
            <img src="../../assets/HWX_University_Certified_Professional.png">
         </div>
         <div class="col-sm-3 Image_Section">
            <img src="../../assets/iof-certification-badges_nucleated-cell-counting.png">
         </div>
         <div class="col-sm-3 Image_Section">
            <img src="../../assets/chep-badge-admissions.png">
         </div>
         <div class="col-sm-3 Image_Section">
            <img src="../../assets/CF_sticker_final-01.png">
         </div>
         <div class="col-sm-3 Image_Section">
            <img src="../../assets/1505412105.382073_2017-napo-specialist-badges_residential.png">
         </div>
         <div class="col-sm-3 Image_Section">
            <img src="../../assets/SAI_BadgeSizes_DigitalBadging_CAL.png">
         </div>
         <div class="col-sm-3 Image_Section">
            <img src="../../assets/wpe-badge-600-300x300.png">
         </div>
         <div class="col-sm-3 Image_Section">
            <img src="../../assets/1505412105.382073_2017-napo-specialist-badges_residential.png">
         </div>
         <div class="col-sm-3 Image_Section">
            <img src="../../assets/IASSC_ADP_Seal_378x378-300x300.png">
         </div>
         <div class="col-sm-3 Image_Section">
            <img src="../../assets/chep-badge-admissions.png">
         </div>
         <div class="col-sm-3 Image_Section">
            <img src="../../assets/CF_sticker_final-01.png">
         </div>
      </div>
   </div>
</div>
   
   
   