<!-- dashboard -->

<!-- dashboard header -->
<div class="contentPart">
  <div class="headerpart">
    <h1>Dashboard</h1>
  </div>

  <div class="contentpart">
    <div class="container">
      <div class="row">
        <!-- chart column -->
        <div class="col-md-6">
          <mat-card id="chart">
            <mat-card-title>
              My Chart
            </mat-card-title>
            <img mat-card-image src="../../assets/line_chart.png" alt="Chart">
          </mat-card>
        </div>
        <!-- level wedigets -->
        <div class="col-md-6">
          <div class="row">
            <!-- level 1 widget -->
            <div class="col-sm-6">
              <mat-card id="level_1_widget">
                <mat-card-title>
                  60%
                  <i class="far fa-chart-bar" style="float: right;"></i>
                </mat-card-title>
                <mat-card-subtitle>
                  completed
                </mat-card-subtitle>
                <mat-card-footer>
                  Level 1
                </mat-card-footer>
              </mat-card>
            </div>
            <!-- level 2 widget -->
            <div class="col-sm-6">
              <mat-card id="level_2_widget">
                <mat-card-title>
                  60%
                  <i class="far fa-chart-bar" style="float: right;"></i>
                </mat-card-title>
                <mat-card-subtitle>
                  completed
                </mat-card-subtitle>
                <mat-card-footer>
                  Level 2
                </mat-card-footer>
              </mat-card>
            </div>
          </div>
          <div class="row">
            <!-- level 3 widget -->
            <div class="col-sm-6">
              <mat-card id="level_3_widget">
                <mat-card-title>
                  60%
                  <i class="far fa-chart-bar" style="float: right;"></i>
                </mat-card-title>
                <mat-card-subtitle>
                  completed
                </mat-card-subtitle>
                <mat-card-footer>
                  Level 3
                </mat-card-footer>
              </mat-card>
            </div>
            <!-- level 4 widget -->
            <div class="col-sm-6">
              <mat-card id="level_4_widget">
                <mat-card-title>
                  60%
                  <i class="far fa-chart-bar" style="float: right;"></i>
                </mat-card-title>
                <mat-card-subtitle>
                  completed
                </mat-card-subtitle>
                <mat-card-footer>
                  Level 4
                </mat-card-footer>
              </mat-card>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
               <mat-card id="level_5_widget">
                  <i class="fas fa-user"></i>
               <mat-card-header>
                 <mat-card-title>Name</mat-card-title>
                  <mat-card-subtitle>Course</mat-card-subtitle>
                </mat-card-header>
                <mat-card-footer>
                  <div class="row">
                    <div class="col-sm-6">
                      <h5>Current level</h5>
                      <p>5</p>
                    </div>
                    <div class="col-sm-6">
                      <h5>Goals to chase</h5>
                      <p>40</p>
                    </div>
                  </div>
                </mat-card-footer>
              </mat-card>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
