<div class="contentPart">
   <div class="headerpart_2">
      <h1>My Levels</h1>
   </div>
   <div class="contentpart">
    <div class="container">
      <div class="row">
        <!-- level 1 poitns -->
        <div class="col-md-4" id="level_1_points">
          <mat-card>
            <mat-card-header>
              <mat-card-title>
                800
              </mat-card-title>
              <mat-card-subtitle>
                Points
              </mat-card-subtitle>
              <i class="far fa-chart-bar" style="float: right;"></i>
            </mat-card-header>
            <mat-card-footer>
              <h5>Level 1<span class="View_Link">View</span></h5>
              <p>Redeemed: 400</p>
            </mat-card-footer>
          </mat-card>
        </div>
        <!-- level 2 points -->
        <div class="col-md-4" id="level_2_points">
          <mat-card>
            <mat-card-header>
              <mat-card-title>
                800
              </mat-card-title>
              <mat-card-subtitle>
                Points
              </mat-card-subtitle>
              <i class="far fa-chart-bar" style="float: right;"></i>
            </mat-card-header>
            <mat-card-footer>
              <h5>Level 2<span class="View_Link">View</span></h5>
              <p>Redeemed: 400</p>
            </mat-card-footer>
          </mat-card>
        </div>
        <!-- level 3 points -->
        <div class="col-md-4" id="level_3_points">
          <mat-card>
            <mat-card-header>
              <mat-card-title>
                800
              </mat-card-title>
              <mat-card-subtitle>
                Points
              </mat-card-subtitle>
              <i class="far fa-chart-bar" style="float: right;"></i>
            </mat-card-header>
            <mat-card-footer>
              <h5>Level 3<span class="View_Link">View</span></h5>
              <p>Redeemed: 400</p>
            </mat-card-footer>
          </mat-card>
        </div>
      </div>
    </div>
  </div>
</div>
