<div class="contentPart">
  <div class="headerpart_2">
    <h1>My Profile</h1>
  </div>
   <div class="contentpart">
    <div class="container">
      <div class="tabs">
        <mat-tab-group dynamicHeight>
          <mat-tab label="General Info">
            <mat-card>
              <div class="box mat-elevation-z4">
                <table class="GeneralInfoTable table table-striped">
                  <tbody>
                    <tr>
                      <th>Name</th>
                      <td>xxx</td>
                    </tr>
                    <tr>
                      <th>Roll number</th>
                      <td>xxx</td>
                    </tr>
                    <tr>
                      <th>Batch</th>
                      <td>xxx</td>
                    </tr>
                    <tr>
                      <th>Department</th>
                      <td>xxx</td>
                    </tr>
                    <tr>
                      <th>Course</th>
                      <td>xxx</td>
                    </tr>
                    <tr>
                      <th>Tutor</th>
                      <td>xxx</td>
                    </tr>
                    <tr>
                      <th>Contact Number</th>
                      <td>xxx</td>
                    </tr>
                    <tr>
                      <th>Email Id</th>
                      <td>xxx</td>
                    </tr>
                    <tr>
                      <th>Gender</th>
                      <td>xxx</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </mat-card>
          </mat-tab>
          <mat-tab label="Personal Info">
            <mat-card>
              <button mat-raised-button matTooltip="click to update personal info" (click)="openProfileUpdateModal()" >Update</button>
              <div class="box mat-elevation-z4">
                <table class="PersonalInfoTable table table-striped">
                  <tr>
                    <th>Date of Birth</th>
                    <td>{{dob}}</td>
                  </tr>
                  <tr>
                    <th>Contact Number</th>
                    <td>{{c_number}}</td>
                  </tr>
                  <tr>
                    <th>Parent's contact number</th>
                    <td>{{p_number}}</td>
                  </tr>
                  <tr>
                    <th>Address</th>
                    <td>{{address}}</td>
                  </tr>
                </table>
              </div>
            </mat-card>
          </mat-tab>
          <mat-tab label="Academic Info">
            <mat-card>
              <button mat-raised-button matTooltip="click to update academic info" (click)="openAcademicUpdateModal()">Update</button>
              <div class="box mat-elevation-z4">
                <table class="AcademicInfoTable table table-striped">
                  <tr>
                    <th>Graduate</th>
                    <td>{{graduate}}</td>
                  </tr>
                  <tr>
                    <th>Percentage of Marks</th>
                    <td>{{percentage}}</td>
                  </tr>
                  <tr>
                    <th>Year of passing</th>
                    <td>{{y_passing}}</td>
                  </tr>
                </table>
              </div>
            </mat-card>
          </mat-tab>
          <mat-tab label=" Extra Curricular Activities">
            <mat-card>
              <button mat-raised-button matTooltip="click to update extra curricular activities info" (click)="openExtraCAUpdateModal()">Update</button>
              <div class="box mat-elevation-z4">
                <table class="ExtraCurricularActivitiesInfoTable table table-striped">
                  <tr>
                    <th>Name (Sports)</th>
                    <th>Honors</th>
                  </tr>
                  <tr>
                    <td>{{sports_name}}</td>
                    <td>{{honors}}</td>
                  </tr>
                </table>
              </div>
            </mat-card>
          </mat-tab>
        </mat-tab-group>
      </div>
    </div>
  </div>
</div>
