<div class="Modal_Content" *ngIf=" Type && Type === 'View'">
   <div class="Modal_Header">
      <p>Acheivements</p>
      <span data-dismiss="modal" (click)="bsModalRef.hide()">&times;</span>
   </div>
   <div class="Model_Body">
      <div class="view_item">
         <div class=" Static">Date </div>
         <div class="dots"> : </div>
         <div class=" Data">27/08/18</div>
      </div>
      <div class="view_item">
         <div class=" Static">Acheivements </div>
         <div class="dots"> : </div>
         <div class=" Data"> xxxx</div>
      </div>
      <div class="view_item">
         <div class=" Static">Honour </div>
         <div class="dots"> : </div>
         <div class=" Data"> yyyy</div>
      </div>
   </div>
</div>
      
         
      
   
