<div class="headerpart_2">
   <h1>Contact Admin</h1>
</div>
<!-- Page section -->
<div class="Page_Section">
   <div class="container-fluid">
      <!--  Header Part -->
      <!-- Create and search Section -->
      <div class="row header_part">
         <div class="col-sm-6">
            <button class="Create_Button" mat-button (click)="CreateQuery()"> + Create </button>
         </div>
         <div class="col-sm-6">
            <div class="Search_Section">
               <input type="text" placeholder="Search.." name="search">
               <i class="fas fa-search"></i>
            </div>
         </div>
      </div>
      <!-- Table Section -->
      <div class="Table_Section">
         <table>
            <thead>
               <tr>
                  <th>S.no</th>
                  <th>Subject</th>
                  <th>Status</th>
                  <th>Action</th>
               </tr>
            </thead>
            <tbody>
               <tr>
                  <td>
                     <span class="S_no"> 1 </span>
                  </td>
                  <td>
                     <span class="Style_1">Lorem ipsum dolor sit amet consectetur adipisicing elit.</span>
                  </td>
                  <td>
                     <span class="Style_1"> Requested</span>
                  </td>
                  <td>
                     <span  class="Action_Section" (click)="ViewContactAdmin()">
                        <i class="fas fa-eye"></i>
                     </span>
                  </td>
               </tr>
               <tr>
                  <td>
                     <span class="S_no"> 2 </span>
                  </td>
                  <td>
                     <span class="Style_1">Lorem ipsum dolor sit amet consectetur adipisicing elit.</span>
                  </td>
                  <td>
                     <span class="Style_1"> Completed</span>
                  </td>
                  <td>
                     <span  class="Action_Section" (click)="ViewContactAdmin()">
                        <i class="fas fa-eye"></i>
                     </span>
                  </td>
               </tr>
               <tr>
                  <td>
                     <span class="S_no"> 3 </span>
                  </td>
                  <td>
                     <span class="Style_1">Lorem ipsum dolor sit amet consectetur adipisicing elit.</span>
                  </td>
                  <td>
                     <span class="Style_1"> Completed</span>
                  </td>
                  <td>
                     <span  class="Action_Section" (click)="ViewContactAdmin()">
                        <i class="fas fa-eye"></i>
                     </span>
                  </td>
               </tr>
               <tr>
                  <td>
                     <span class="S_no"> 4 </span>
                  </td>
                  <td>
                     <span class="Style_1">Lorem ipsum dolor sit amet consectetur adipisicing elit.</span>
                  </td>
                  <td>
                     <span class="Style_1"> Requested</span>
                  </td>
                  <td>
                     <span  class="Action_Section" (click)="ViewContactAdmin()">
                        <i class="fas fa-eye"></i>
                     </span>
                  </td>
               </tr>
            </tbody>
         </table>
      </div>
      <br>
   </div>
</div>


